
<div class="form-group">
    <label for="albumTitle">Title</label>
    <input #albumTitle type="text" class="form-control" id="albumTitle" placeholder="Title" required value="{{album.title}}">
</div>
<div class="form-group">
    <label for="albumDescription">Description</label>
    <textarea #albumDescription class="form-control" id="albumDescription" rows="3" >{{album.description}}</textarea>
</div>
<div class="form-group">
    <label for="albumTags">Tags</label>
    <input #albumTags type="text" class="form-control" id="albumTags" placeholder="Tags" required value="{{album.tags}}">
    <small id="tagsHelp" class="form-text text-muted">The semicolon (;) serves as a separator between tags.</small>
</div>
<div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-success" (click)="onSubmit(albumTitle.value, albumDescription.value, albumTags.value)">Submit</button>
    <button class="btn btn-light" (click)="onClickClose()">Cancel</button>
</div>