

<div class="d-flex justify-content-center">
    <div class="form-group">
        <h3>{{data.photo.fileName | uppercase}}</h3>
        <div>
            <span>id: </span>{{data.photo.id}}
        </div>
        <div>
            <span>File name: </span>{{data.photo.fileName}}
        </div>
        <div>
            <span>Add date: </span>{{data.photo.addDate | date:'dd-MM-yyyy HH:mm:ss'}}
        </div>
        <div>
            <app-album-list [selectedAlbum]="data.photo.albumId" (newSelectedAlbumEvent)="albumChengedEvent($event)"></app-album-list>
        </div>
        <div>
            <label>
                Description:
                <textarea class="description" [(ngModel)] = "data.photo.description" placeholder="Description" rows="4"></textarea>
            </label>
            <div class="container">
                <div class="center">
                <button (click)="saveDescriptions()" class="btn btn-success">Update Description</button>
                <button class="btn btn-primary " (click)="goBack()">Close</button>
                </div>
            </div>
            <div class="imgBox">
                <img [src]=photo_url(data.photo) />
            </div>
        </div>
    </div>
</div>

