<app-add-photo [selectedAlbumID]="selectedAlbumID" (fileIsUploadedOnServerEvent)="reloadPhotoListAfterAdd($event)"></app-add-photo>

<div *ngIf="loadedData; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
</ng-template>
<ng-template #elseBlock>
    <div *ngIf="photoCount<1" class="d-flex justify-content-center"> No photo </div>
    <div class="d-flex justify-content-center navigation">
        <nav aria-label="Page navigation example" *ngIf="photoCount>0 && totalPages > 1">
            <ul class="pagination">
                <li class="page-item " [class.disabled]="disabledFirstPreviousPage()"><a class="page-link" (click)="onFirstPageClick()">First</a></li>
                <li class="page-item" [class.disabled]="disabledFirstPreviousPage()"><a class="page-link" (click)="previousPage()">Previous</a></li>
                <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="isActivePage(i+1)"><a class="page-link" (click)="pageNumber(i)">{{i+1}}</a></li>
                <li class="page-item" [class.disabled]="disabledNextLastPage()"><a class="page-link" (click)="nextPage()">Next</a></li>
                <li class="page-item" [class.disabled]="disabledNextLastPage()"><a class="page-link" (click)="onLastPageClick()">Last</a></li>
            </ul>
        </nav>    
    </div>
    <div class="d-flex justify-content-center">
        <ul class="ulgrid">
            <li class="liCard" *ngFor="let photo of photos | slice:0:10; let i=index">   
                <div class="card" style="width: 18rem;">
                    <div class="d-flex justify-content-center"  *ngIf="!photo.photoData">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center image-container">
                        <img [src]=photo.imageToShow class="card-img-top" *ngIf="photo.photoData" (click)="showImagePreview(photo.imageToShow)">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" data-toggle="tooltip" title="File Name: {{photo.fileName}}">{{photo.fileName}}</h5>
                        <p class="card-text" data-toggle="tooltip" title="Owner: {{photo.firstName}} {{photo.lastName}}">{{photo.firstName}} {{photo.lastName}}</p>
                        <p class="card-text" data-toggle="tooltip" title="Description: {{photo.description}}">{{photo.description}}</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary" (click)="showDitailForm(i)">Details</a>
                            <button class="btn btn-danger" (click)="deletePhotoById(photo)" [disabled]="!userIsOwner(photo.userId)">X</button>
                        </div>
                    </div>
                </div>
            </li> 
        </ul>
    </div>

</ng-template>



    
