.navigation{
    margin-top: 10px;
}

.image-container{
    margin: 5px;

    display:flex;
}

.card-img-top{
    height:  200px ;
    width: 250px;
    object-fit:scale-down;
    max-width:100%;
    cursor: pointer;
}

.navigation button{
    margin-left: 10px;
    margin-right: 10px;
}

.btn.btn-danger{
    margin-left: 15px;
}

.card-text{
    text-overflow: ellipsis ;
    white-space: nowrap; 
    overflow: hidden;
    min-height: 24px;
}

.card-title{
    text-overflow: ellipsis ;
    white-space: nowrap; 
    overflow: hidden; 
    margin-bottom: 1px;
}

.ulgrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
}

.liCard {
    list-style-type: none; 
}

.buttons{
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.icon{
    font-size: xx-large;
    color: red;
    margin-right: 20px;
    cursor: pointer;
}

