<div *ngIf="router.url !== '/login'">
  <div class="d-flex justify-content-center">
    <h1 class="title">{{title}}</h1>
  </div>

  <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <a href="#" class="navbar-brand d-flex w-50 mr-auto"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
      <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/photos'" routerLinkActive="active">Photos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/albums'" routerLinkActive="active" >Albums</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onClickLogOut()">Log Out</button>
            </li>
        </ul>
    </div>
</nav>

</div>
<router-outlet></router-outlet> 