.btn.btn-outline-success{
    margin-left: 10px;
    margin-right: 10px;
}

.btn.btn-outline-danger{
    margin-left: 10px;
    margin-right: 10px; 

}

.form-group{
    margin: 15px;
}

.form-group .btn.btn-outline-success button{
    margin: 10px;
}

.form-group .form-control input{
    margin: 10px;
}

.selectControl{
    vertical-align: middle;
}